.backdropElement {z-index:50;}
.titleBlock {
    margin-bottom: 2em;
    @media (max-width:600px) {
        margin-bottom:0;
    }
    .type {

    }
    .typeContainer {
        padding:  0.75em 2em;
        border-radius: 2em;
        @media (max-width:600px) {
            p {font-size:12px;}
            padding:0.4em 1.2em;
        }
    }
    .title {
        font-size: 45px;
        font-weight: 400;
        margin: 0.5em 0 0 0 ;
        @media (max-width:900px) {
            font-size:32px;
        }
        @media (max-width:600px) {
            font-size:24px;
        }
    }
    .subtitle {
        font-size: 17px;
        font-weight: 400;
        color: #696C80;
        @media (max-width:600px) {
            font-size:14px;
            margin-top:0;
        }
    }
}
.approveField {
    button {
        height:4em !important;
        @media (max-width:600px) {
            height:3em !important;
        }
    }
}
.amountField {

    & > div {
        height:4em !important;
        @media (max-width:480px) {
            font-size:14px;

            input {
                font-size:20px;
            }
        }
    }
}
.walletField {
    & > div {
        height:4em !important;
    }
}
.paperContainerSm {
      @media (min-width:600px) {
      position: relative;
     padding: 2.5em 1.5em 1.5em 1.5em !important;
  }
}
@media (max-width:900px) {
    .walletField, .amountField {
        flex: 0 0 50%;
        max-width:50% !important;
        width:100%;
    }
    .approveField {
        flex: 0 0 100%;
        max-width:100% !important;
        width:100%;
        text-align:center;
        margin-top:30px !important;

        button {
            margin:0 auto;
        }
    }
    .walletBalanceElement {
        max-width:100%;
    }
    .infoElement {font-size:14px;
        }
}

@media (max-width:600px) {
    .walletField, .amountField {
        flex: 0 0 100%;
        max-width:100% !important;
        width:100%;
        margin-top:20px !important;
    }
    .approveField {
        flex: 0 0 100%;
        max-width:100% !important;
        width:100%;
        text-align:center;
        margin-top:30px !important;

        button {
            margin:0 auto;
        }
    }
    .walletBalanceElement {
        max-width:100%;
    }
    .infoElement {font-size:12px;
    div {max-width:100%;}
    }
    .paperContainer {position:relative; padding:2.5em 1.5em 1.5em 1.5em !important;}

  .closeDeposit {position:absolute;top:1.5em;right:1.5em;}
}

