h1 {
  font-size: 35px;
  margin-top: 0.5em;
  @media (max-width:900px) {
      font-size:30px;
  }
  @media (max-width:600px) {
      font-size:22px;
  }
}

.amountField {
  width:100%;
}
.currencyField {
  width:100%;
}
.titleWrapper {
  background-color: #000;
  padding: 0.5em 2em;
  border-radius: 3em;
  color: #fff;
  display: inline;


    margin: 4px 0;
    font-size:13px;
    @media (max-width:900px) {
        font-size:12px;
    }
    @media (max-width:600px) {
        font-size:10px;
    }


}
.no-padding {
  padding: 0 !important;
}
.amountElement {
  @media (max-width:600px) {
    width:100%;
    max-width:100%;
  }
}
.smokeyToggle {
  padding: 0.75em 1em;
  background: #fff;
  color: #000;
  border-radius: 2em;
  cursor: pointer;
  font-size:14px;
  margin:0 0.25em !important;
  &:hover {
    background:rgba(0,0,0,0.05);
  }
  @media (max-width:600px) {
    font-size:12px;
  }
  .dot {
    height: 11px;
    width: 11px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5em;
    @media screen and (max-width: 600px) {
      height:9px;
      width:9px;
      margin-right: 0;
    }
  }
  @media (max-width:530px) {
    font-size:11px;
    padding:0.75em 0.75em 0.75em 1em;
  }
}

.smokeyToggle.active {
  border:1px solid rgba(105, 108, 128, 0.2);
  background:#000;
  color:#fff;
  margin-right:0;
  .dot {background:#fff;}
}

.lowerStats {
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    text-align: center;
    color: #929ba0;
    font-size: 20px;
  }

  h1 {
    margin-bottom: 0em;
  }
}

.currencySelector {
  border: 2px solid rgba(105, 108, 128, 0.2);
  padding: 1em;
  border-radius: 3em;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align:left;
  width:100% !important;
  max-width:100%;
  .name {
    font-size: 15px;
  }
  .amount {
    font-size: 13px;
    color: #696c80;
    @media (max-width:600px) {
      max-width: 170px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align:left;
    }
  }
  input {
    width: 100%;
  }
  input,
  input:focus {
    border: none;
    background: transparent;
    outline: none;
  }
}

.infoBox {
  border-radius: 0.5em;
  background: #f3ac283d;
  color: #be8824;
  padding: 1em;
  max-width: 500px;
  @media (max-width:600px) {
    font-size:13px;
    text-align:left;
  }
  @media (max-width:420px) {
    font-size:11px;
    text-align:left;
  }
}

.tooltipElement {
  @media (max-width:600px) {
    font-size:13px;
    svg {
      height:16px;
    }
  }
}

.maxButton {order:2;}

.styledInput {
  border-radius: 30px !important;
  height: 60px;
  margin-left: 0px;
  width:100% !important;
  max-width:100%;
  padding-left:1.5em !important;
  padding-right:1em;
  margin-top:10px;
  @media (max-width:600px) {
    width:100%;
    margin-left:0;

  }
}

.daiCard {text-align:left;}

@media (max-width:600px) {
  .cardElement {width:100%;
  
    & > div {width:100%;}
  }
}
