.text-lg {
    font-size: 26px;
}

.text-md {
    font-size: 21px;
}

.low-contrast-bg-light {
    background-color: #0a0c0f0a;
}

.low-contrast-bg-dark {
    background-color: #0A0C0F;
}

.low-contrast-text-light {
    color: #8A99A8;
    font-weight: 300;
    white-space: pre-wrap;
}

.low-contrast-text-dark {
    color: #8A99A8;
    font-weight: 300;
    white-space: pre-wrap;
}

.btn-redeem {
    background: #3744E6 !important;
    border: none !important;
}

.btn-action:hover {
    color: white !important;
}
