.comingSoonTitle {
  font-size: 18px;
  font-weight: 400;
  color: #697780;
}

.comingSoonSubtitle {
  font-size: 12px;
  font-weight: 400;
  color: rgba(106, 120, 129, 0.29);
  text-transform: uppercase;
  text-align: center;
}

.connectButton {
  font-size: 0.8em !important;
  padding-top: 1.2em !important;
  padding-bottom: 1.2em !important;
}

.toggleTheme {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 40px !important;
  min-width: 0 !important;
  svg {
    font-size: 1em;
  }
}
.portfolio {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  font-size: 0.8em !important;
  svg {
    font-size: 1.25em;
  }
}

.usdbLogo {
  @media (max-width: 600px) {
    height: 60px;
    width: auto;
  }
  @media (max-width: 360px) {
    height: 40px;
    width: auto;
  }
}
.errorNav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 7px;
}
.navWrap {

  @media (max-width:900px) {
    ul {
      max-width:300px;
      display:flex;
      flex-flow: wrap;
      a {order:10;
        flex:0 0 100%;
      }
      li {
        order:1;
        flex:0 0 76%;
        &.mobilePortfolio {
          text-align:left;
          .portfolioText {display:none;}
          p, a {display:block; width:100%;}
          button {
            justify-content:flex-start;
            width:100%;
          }
        }
        &.mobileTheme {
          order:2;
          flex:0 0 24%;
          justify-content:flex-end;
        }
        &.mobileConnect {
          order:20;
          flex:0 0 100%;

          a {display:block; width:100%;}
          p {
            margin:0 auto;
            display:block;
            width:100%;
            button {
              border-width: 1px;
              background:#000;
              color:#fff;
              width:100%;
            }
          }
        }
      }

    }
  }
}

.headerLink {
  color: #707070;
  display: flex;
  margin-right: 2.5em;
  &:hover {
    color: #000;
  }
}

.headerLinkDark {
  color: #FFF;
  display: flex;
  margin-right: 2.5em;
  &:hover {
    color: #707070;
  }
}

.link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
