.faqHeader {
    font-size: 1.5rem !important;
    margin: 2.5em !important;
}

.faqItem {
    padding

    &::before {
        opacity: 0 !important;
    }
}

.faqTitle {
    width: 100%;
    display: block;
    text-align:left;
    font-size: 1.2rem !important;
}

.faqContent {
    color: grey;
    margin-right: 20px !important;
    padding: 0px !important;
    padding-bottom: 20px !important;
}
