.heroTextContent {
  padding-right: 16px;
}

.heroWrap {
  margin-left: 0 !important;
}

.heroRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 600px) {
    padding: 0 40px;
  }
  @media (max-width: 400px) {
    padding: 0 25px;
  }

  .heroLogo {
    height: 100%;
    max-width: 325px;
  }

  .heroTitle {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0 !important;
    color: rgba(112, 112, 112) !important;
    @media (max-width: 600px) {
      font-size: 30px;
      padding: 0;
    }
    @media (max-width: 600px) {
      font-size: 27px;
      padding: 0;
    }
  }
  .heroTitle1 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0 !important;
    color: rgb(0, 0, 0);
    @media (max-width: 600px) {
      font-size: 30px;
      padding: 0;
    }
    @media (max-width: 600px) {
      font-size: 27px;
      padding: 0;
    }
  }

  .heroSubtitle {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    @media (max-width: 600px) {
      font-size: 15px;
    }
  }

  .heroLink {
    font-size: 24px;
    font-weight: 400;
    color: #6dc1b9;
    @media (max-width: 600px) {
      font-size: 18px;
    }
    .linkArrow {
      font-size: 22px;
      transform: rotate(90deg) translateX(2px);
      display: inline-block;
      margin-left: 5px;

      @media (max-width: 600px) {
        font-size: 17px;
      }
    }
  }
}
.iconsElement {
  padding-right: 16px;
}

@media (max-width: 1200px) {
  .heroContainer {
    height: auto !important;
  }
}

@media (max-width: 900px) {
  .iconsElement {
    margin: 0 auto !important;
    padding-left: 0 !important;
    padding-right: 0;
  }
  img[class*="home-header"] {
    width: 150px;
    height: auto;
  }
}

.styledInput {
  border-radius: 30px !important;
  height: 60px;
  font-size: 16px;
  width: 100% !important;
  max-width: 100%;
  color: #000000;
  padding-left: 0.5em !important;
  padding-right: 0.5em;
  box-sizing: border-box;
  @media (max-width: 600px) {
    width: 100%;
    margin-left: 0;
  }
}

.emailBox {
  background-size: auto 140% !important;
  padding: 100px !important;
  background-color: #f2f2f3 !important;

  @media (max-width: 1200px) {
    padding-left: 40px !important;
    padding-right: 0 !important;
  }
  @media (max-width: 900px) {
    padding: 100px 0 !important;
    padding-left: 40px !important;
    text-align: center;
  }
}
.email-div {
  height: 300px;

  @media (max-width: 600px) {
    padding-bottom: 150px;
    height: 400px;
  }
}

body[class="darkTheme"] {
  img[class*="home-header"] {
    filter: invert(1);
  }
  .heroElem {
    filter: invert(1);
    background-blend-mode: luminosity;
    background-color: #000;

    a {
      background: #000 !important;
      box-shadow: none !important;
      color: #fff !important;
    }
  }

  .styledInput {
    border: 1px solid #999 !important;
    background: #fff !important;
  }

  .emailBox {
    background-blend-mode: luminosity;
    filter: invert(1);
    button {
      box-shadow: none !important;
      background: #000 !important;
      color: #fff !important;
    }
  }
}

button[class*="toggleTheme"] {
  @media (min-width: 0px) {
    display: inline-flex !important;
  }
}
