.label {
    color: #8891A2;
}
.data.primary {
    font-size: 26px;
}
.progress-error {
    background-color: rgba(126,154,169,0.21176470588235294 ) !important;
    span {
        background-color: #fb1868 !important;
    }
}
.progress-info {
    background-color: rgba(126,154,169,0.21176470588235294 ) !important;
    span {
        background-color: #374fff !important;
    }
}
