@media (max-width: 1200px) {
  .productGrid {
    width: 100%;
    margin-top: 150px;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 50px !important;

    img {
      width: 400px !important;
    }
  }
}
@media (max-width: 600px) {
  .productGrid {
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px !important;

    img {
      width: 320px !important;
    }
  }
}

@media (max-width: 900px) {
  .productGrid {
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px !important;
  }
}

.iconLinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  @media (max-width: 600px) {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .imageBox {
    margin: 0 auto;
    @media (max-width: 400px) {
      height: 70px;
    }
  }

  .iconImage {
    width: 100%;
    @media (max-width: 200px) {
      width: 70px;
      height: auto;
    }
  }
  .title {
    width: 100%;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    align-items: start;
    @media (max-width: 900px) {
      width: 100%;
      font-size: 30px;
      align-items: center;
    }
  }

  .image {
    width: 100%;
    @media (max-width: 900px) {
      width: 200px !important;
      height: 100px;
    }
  }

  .text {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 5px;
    align-items: start;
    @media (max-width: 900px) {
      font-size: 12px;

      padding: 0 30px !important;
    }
    @media (max-width: 600px) {
      width: 100%;
      align-items: center;
    }
  }

  .link {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
    background: #00000000;
    border: 1px solid;
    @media (max-width: 600px) {
      margin-left: 5px;
      margin-right: 5px;
      padding: 15px 20px;
    }
  }

  .disabled {
    color: rgba(105, 108, 128, 0.43);
  }

  .linkArrow {
    transform: rotate(90deg);
    font-size: 16px;
  }
}

.iconLinkContainer {
  @media (max-width: 900px) {
    align-items: center;
  }
}
.emailBox {
  background-size: auto 140% !important;
  padding: 100px !important;
  background-color: #f2f2f3 !important;

  @media (max-width: 1200px) {
    padding-left: 40px !important;
    padding-right: 0 !important;
  }
  @media (max-width: 900px) {
    padding: 100px 0 !important;
    padding-left: 40px !important;
    text-align: center;
  }
}
.email-div {
  height: 300px;

  @media (max-width: 600px) {
    padding-bottom: 150px;
    height: 400px;
  }
  @media (max-width: 900px) {
    margin-bottom: 150px !important;
  }
}
.iconsElement {
  padding-right: 16px;
}
@media (max-width: 900px) {
  .iconsElement {
    margin: 0 auto !important;
    padding-left: 0 !important;
    padding-right: 0;
  }
}
.styledInput {
  border-radius: 30px !important;
  height: 60px;
  font-size: 16px;
  width: 100% !important;
  max-width: 100%;
  color: #000000;
  padding-left: 0.5em !important;
  padding-right: 0.5em;
  box-sizing: border-box;
  @media (max-width: 600px) {
    width: 100%;
    margin-left: 0;
  }
}
body[class="darkTheme"] {
  .emailBox {
    background-blend-mode: luminosity;
    filter: invert(1);
    button {
      box-shadow: none !important;
      background: #000 !important;
      color: #fff !important;
    }
  }
  .styledInput {
    border: 1px solid #999 !important;
    background: #fff !important;
  }
}
