.graphImg {
    width: 100%;
}

.lightBG {
    background: rgb(229,229,235);
    background: linear-gradient(45deg, rgba(229,229,235,0.42) 10%, rgba(229,229,235,1) 80%);
    border-radius: 3.5em;
}

.graphContainer {
    padding: 4em 3em;
}