.infoIcon {
  padding: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 293px;
}

%section {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.network-banner {
  position: absolute;
  background: red;
  color: white;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.__heading {
  @extend %section;
  padding: 19vmin 5vw 4vmin 5vw;
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  @media (max-width: 600px) {
    font-size: 30px;
    padding: 0;
  }
  @media (max-width: 600px) {
    font-size: 27px;
    padding: 0;
  }
}

.__section {
  @extend %section;
  padding: calc(5vmin + 1rem) 5vw 0 5vw;
  margin-bottom: 10%;
}

.__icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto;
  img {
    height: 100px;
    width: auto;
    margin-bottom: 20px;
  }
  > * {
    width: 18rem;
  }
}
.getStarted {
  @media (max-width: 600px) {
    padding: 1em 1.5em !important;
  }
  img {
    width: 30px;
    margin-left: 10px !important;
  }
}
.bannerDiv {
  width: 60%;
  height: 30%;
  margin-left: 20%;
  border: 1px solid grey;
  border-radius: 25px;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 600px) {
    width: 80%;
    margin-left: 10%;
  }
}
.contentDiv {
  padding: 30px 10%;

  @media (max-width: 600px) {
    padding: 10px 10%;
  }
}
.warningDiv {
  @media (max-width: 600px) {
    width: 30px;
    height: 30px;
  }
}
