.valueContainer {
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 1em;
    padding: 0.4em;
    height: 60px;

    .leftSide {
        border-right: 2px solid #aaaaaa;
        width: 25%;
        padding-left: 10px;
        height: 40px;
    }
    .rightSide {
        padding-left: 1em;
        width: 75%;
    }

}


.dialogContainer {
    div[class*=Backdrop] {
        backdrop-filter: blur(5px);
    }
}
body[class*=darkTheme] {
    .dialogContainer {
        div[class*=Paper-root] {
            background:#222;
            svg {
                fill:#fff;
            }
        }
    }
}