@import url(../staking-choice/staking-choice.module.scss);
@import url(../staking-choice/staking-card/staking-card.module.scss);

.nftImageBox {
  width: 200px;
  height: 200px;
  background: #111;
  text-align: center;
  overflow: hidden;
  color: #fff;
  border-radius: 10px;
  img {
    width: 100%;
  }
}

.nftItemImageBox {
  width: 250px;
  height: 250px;
  border: 1px solid #fff;
  text-align: center;
  overflow: hidden;
  color: #000;
  border-radius: 10px;
  img {
    width: 100%;
  }
}

.vestingDescription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 10px;
  div {
    text-align: right;
    & > span:nth-child(1) {
      font-weight: bold;
      text-align: right;
    }
    & > span:last-child {
      font-size: 13px;
    }
  }
}

.vestingDescription > span:nth-child(1) {
  font-size: 15px;
}

.vestingDescription > span:nth-child(2) {
  font-weight: bold;
  text-align: right;
}

.infoBox {
  border-radius: 3em;
  background: #ddd;
  color: #000;
  padding: 1em;
  max-width: 500px;
  width: 100%;
  @media (max-width:600px) {
    font-size:13px;
    text-align:left;
  }
  @media (max-width:420px) {
    font-size:11px;
    text-align:left;
  }
}

.smokeyToggle {
  padding: 0.75em 0.5em;
  background: #fff;
  color: #000;
  border-radius: 2em;
  cursor: pointer;
  font-size:14px;
  margin:0 0.25em !important;
  text-align: center;
  // &:hover {
  //   background:rgba(0,0,0,0.05);
  // }
  @media (max-width:600px) {
    font-size:12px;
  }
  .dot {
    height: 11px;
    width: 11px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5em;
    @media screen and (max-width: 600px) {
      height:9px;
      width:9px;
      margin-right: 0;
    }
  }
  @media (max-width:530px) {
    font-size:11px;
    padding:0.75em 0.75em 0.75em 1em;
  }
}

.smokeyToggle:not(.active) {
  border: 1px solid #ccc;
}

.currencySelector {
  border: 2px solid rgba(105, 108, 128, 0.2);
  padding: 1em;
  border-radius: 3em;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align:left;
  width:100% !important;
  max-width:100%;
  .name {
    font-size: 13px;
    flex: 1;
  }
  .amount {
    font-size: 13px;
    // color: #696c80;
    @media (max-width:600px) {
      max-width: 170px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align:left;
    }
  }
  input {
    width: 100%;
  }
  input,
  input:focus {
    border: none;
    background: transparent;
    outline: none;
  }
}

.nft-item-prop:hover {
  background: #fff !important;
  color: #000 !important;
}